In [2]:
import pandas as pd
adult_frame = pd.read_csv("adult.data", header=None,
                              skipinitialspace=True,  # this data has some extra whitespace
                              names=['age', 'workclass', 'fnlwgt', 'education',
                                     'education-num', 'marital-status',
                                     'occupation', 'relationship', 'race',
                                     'sex', 'capital_gain', 'capital_loss',
                                     'hr_per_week', 'country', 'income'
                                     ])

In [4]:
occupation_income = adult_frame[['occupation', 'income']]
over = occupation_income[occupation_income['income']
                             == '>50K'].groupby('occupation').count()
under = occupation_income[occupation_income['income']
                              == '<=50K'].groupby('occupation').count()
print(over)
print(under)

                   income
occupation
?                     191
Adm-clerical          507
Armed-Forces            1
Craft-repair          929
Exec-managerial      1968
Farming-fishing       115
Handlers-cleaners      86
Machine-op-inspct     250
Other-service         137
Priv-house-serv         1
Prof-specialty       1859
Protective-serv       211
Sales                 983
Tech-support          283
Transport-moving      320
                   income
occupation
?                    1652
Adm-clerical         3263
Armed-Forces            8
Craft-repair         3170
Exec-managerial      2098
Farming-fishing       879
Handlers-cleaners    1284
Machine-op-inspct    1752
Other-service        3158
Priv-house-serv       148
Prof-specialty       2281
Protective-serv       438
Sales                2667
Tech-support          645
Transport-moving     1277